.bodyPart {
  border: 1px yellow solid;
  width: 100px;
  height: 50;
  text-align: center;
  padding: 10px;
}
.bodyPart:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.bodyPart:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.bodyPart:hover {
  
  font-weight: bold;
  cursor: pointer;
}

.navigatorPosition {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

 