.nutritionContainer {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.pfcContainer {
  width: 900px;
  height: 200px;
  background-color: yellow;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pfcElements {
  display: flex;
  padding: 20px;
}

.verticalLine {
  border-left: 1px solid #525252;
  height: 150px;
  border-radius: 2px;
}

p {
  text-align: left;
  padding: 20px;
}

.pfcElement{ 
width: 35%;
}

h2 {
  text-align: left;
  padding-left: 20px;
}

p{font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;}

.crucialInformation{
background-color: yellow;
  width: 100%;
  height: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2%;
}

.caloryInput{
  border-radius: 4px; width: 10%;
}
.caloryButton{
  margin: 10px;
}
 
 
 