.darkBG {
   
     background-color: rgba(0, 0, 0, 0.2);
     width: 100vw;
     height: 200vh;
     z-index: 0;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     position: absolute;
     
}

@media only screen and (max-width: 600px) {
     .darkBG {
     height: 200vh;
     width: 200vw;
     top: 100%;
     left: 50%;
     }
}

.centered {
     position: fixed;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
}

.modal {
     width: auto;
     height: auto;
     background: white;
     color: white;
     z-index: 10;
     border-radius: 16px;
     box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
}

.modalHeader {
     height: 50px;
     background: white;
     overflow: hidden;
     border-top-left-radius: 16px;
     border-top-right-radius: 16px;
}

.heading {
     margin: 0;
     padding: 10px;
     color: #2c3e50;
     font-weight: 500;
     font-size: 18px;
     text-align: center;
}

.modalContent {
     padding: 10px;
     font-size: 14px;
     color: #2c3e50;
     text-align: center;
}

.modalActions {
     position: absolute;
     bottom: 2px;
     margin-bottom: 10px;
     width: 100%;
}

.actionsContainer {
     display: flex;
     justify-content: space-around;
     align-items: center;
}

 .modalImage{
     width: 300px;
     height: 200px;
     border-radius: 16px;
     position: relative;
     bottom: 15px;
 }

 
 